*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
/* Navigation bar Styling */
.navbar {
  background-color: #8d8989;
}

/* Copyright-div styling */
.copyright-div{
  position: fixed;
  bottom: 0;
}
/* Copyright Left Section Styling */
.cw-left{
  text-align: left;
  background-color: gray;
  color: white;
}
.cw-left a{
  color: white;
  margin: 0 5px;
}
.cw-left a:hover, a:active{
  color: rgb(27, 34, 41);
}

/* Copyright Right Section Styling */
.cw-right{
  text-align: right;
  background-color: gray;
  color: white;
}
.cw-right a{
  color: white;
}
.cw-right a:hover, a:active{
  color: rgb(27, 34, 41);
}
/* Social Media Buttons Styling */
.social-buttons {
    position: fixed;
    bottom: 20%;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
}

.social-buttons a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #0078D4; /* You can customize the border color */
    background-color: #fff;
    color: #0078D4; /* You can customize the button color */
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-buttons a:hover {
    background-color: #0078D4; /* You can customize the hover background color */
    color: #fff; /* You can customize the hover text color */
}
/* Social Media Buttons Styling Ends */

@media (max-width: 576px){
  .cw-left{
    text-align: center;
    font-size: small;
  }
  .cw-right{
    text-align: center;
  }
}
.social-buttons{
  bottom: 10%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

@media (min-width: 577px) and (max-width: 768px){
  .cw-left{
    font-size: medium;
    text-align: center;
  }
  .cw-right{
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 948px){
  .cw-left{
    font-size: large;
    text-align: left;
  }
  .cw-right{
    text-align: right;
  }
}
